
.fcontainer {
    display: grid;
    grid-template-columns: 1fx 1fx 1fx 1fx 1fx ;
    grid-auto-rows: 500px;
    grid-gap: 20px;
    
    gap: 5px;
    height: 100%;
    grid-template-rows: 100px 100px 100px 200px 100px;
 
}
.fitem{
 background-color: rgb(34, 255, 0); 
 border: 10px solid black;
 margin: 12px;
 grid-column: 1/-1;
}
.fitem{

background-color: rgb(255, 0, 47);}

